[user]
	name = shadowbq
	email = shadowbq@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[github]
	user = shadowbq
	email = shadowbq@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	ignorecase = false
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch  
	df = diff
	home = "!f() { git remote -v | grep -o @.* ;}; f"
	aliases = "!f() { git config --global -l | grep alias | sort; }; f"
	tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	staged = diff --cached
	diff-staged = diff --cached
	unstage = reset HEAD --
	purge = clean -fd
  	revertfile = checkout --
  	forget = rm --cached --
  	uncommit = reset --soft HEAD^
	ignored = ls-files --others
	oneline = log --graph --pretty=format:'%Cred%h%Creset -%Cblue%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	last = log --oneline -1 HEAD
	out = log --oneline origin/master..HEAD
	wdiff = diff --color-words
	info = remote -v
	unstash = stash pop
	remove-tags = "!f() { git tag -l ${1} | xargs -I % echo \"git tag -d % && git push --delete origin %\" | sh; }; f"
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A New Hope.}\");};f"
	skipped = "!f(){ git ls-files -v ${1} | grep ^S;};f"
	skip = update-index --skip-worktree --
	unskip = update-index --no-skip-worktree --
	markdown-toc = "git-md-toc-creator"
	smartlog = "log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'"
[http]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
        tool = sourcetree
[merge]
        tool = sourcetree
[difftool "sourcetree"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = true
[hub]
  protocol = https
