*.DS_Store
.aliases_custom
.adobe
.android
.bash_history
.bash_local
.localrc
.Gemfile.local
.systemrc
.cache
.CFUserTextEncoding
.ctrlp_cache/*
.cups
.deltafy
.dvdcss
.dropbox
.eclipse
.eclim
.filebot
.filezilla/bookmarks.xml
.filezilla/filezilla.xml
.filezilla/lockfile
.filezilla/layout.xml
.filezilla/recentservers.xml
.filezilla/queue.sqlite3
.filezilla/sitemanager.xml
.fseventsd
.gdb_history
.gem
.gitk
.gstreamer-0.10/*
.heroku
.htoprc
.idlerc
.ipython
.lesshst
.MacOSX
.mysql_history
.netbeans
.node_modules
.npm
.pearrc
.putty
.rvm
.secrets
.ssh/authorized_key*
.ssh/id*
.ssh/github*
.ssh/known*
.ssh/cork*
.Spotlight-V100
.subversion
.TemporaryItems
.Trash
.Trashes
.titanium
.vimgolf
.viminfo
.vim-fuf-data
.vim/.netrw*
my.cnf
Applications
Books
Desktop
Development
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
share
Sites
VirtualBox*
VMs
Virtual*
Gemfile.lock

*.py[cod]
